@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box1 {
  width: 30%;
  background-color: #800080;
  align-self: stretch;
  
}

.box2 {
  align-self: stretch;
  width: 70%;
}

.subWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  
}

.subBox1 {
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap; 
  min-height: 0;
  background-color: white;
  margin-bottom: 0.5em;
}


.subBox2 {
  width: 100%;
  background-color: white;
}

.test {
  border: 1px solid black;
  margin-bottom: 0.5em;
  
}

.broken-Fix-For-JustifyContent_flexend {
  margin-top: auto;
}

.top {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.yolo {
  margin-left: 0.6em;
  margin-top: 0.3em;
}

.topTop img {
  width: 35%;
  background-color: white;
  margin-left: 1.2em;
}

.message {
  display: block;
  margin: auto;
  margin-bottom: 0.7em;
  width: 95%;
  height: 35px;
  resize: none;
  border: 0.5px solid black;
  
}

#message{
  font-size: 14.5px;
  word-break: break-all;
}

#logout {
  display: block;
  padding: 0.3em 0.5em;
  border-radius: 5%;
  cursor: pointer;
  margin-top: 0.2em;
  font-size: 8px;
}

#channel {
  color: white;
  font-size: 12px;
  font-style: italic;
}

#channelInfo {
  color: white;
  font-size: 14px;
  margin-top: 2em;
  display: block;
}

#userOnNav {
  color: #CECECE;
  margin-top: 1em;
  display: block;
  font-size: 16px;
  font-style: italic;
}
