*{
  margin: 0;
  box-sizing: border-box;
  }
  
  .chat {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: white;
  }
  
  .home {
  width: 60%;
  margin: 8em auto 0;
  }
  .logo {
  width: 56px;
  display: inline-block;
  position: relative;
  left: 20%;
  }
  
  .home label {
  font-size: 37px;
  position: relative;
  left: 17%;
  bottom: 5px;
  
  }
  .username , .join{
  display: block;
  margin: auto;
  font-size: 14px;
  }
  .tags {
  margin-top: 1em;
  }
  
  .join {
  margin-top: 0.4em;
  }
  .username {
  border-radius: 5%;
  border: 1px solid black;
  text-align: center;
  }
  
  .hide {
  display: none;
  }
  
  #warning {
  color: red;
  text-align: center;
  margin-top: 0.2em;
  }