@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.drag {
  border: 5px solid #00A7E1;
  border-radius: 5%;
  width: 350px;
  height: 500px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.drag:focus {
  border: 7px solid #00A7E1;
  border-radius: 5%;
  box-shadow: 0 0 3pt 2pt red;
  outline: none;  
}

.drag:focus-within {
  border: 7px solid #00A7E1;
  border-radius: 5%;
  box-shadow: 0 0 3pt 2pt red;
  outline: none;  
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.main {
  height: 92%;
  background-color: rgba(0, 0, 0, 0.836);
  overflow: hidden;
  position: relative;
}

.wrapper footer {
  border: 1px solid rgb(128, 0, 0);
  height: 8%;
  display: flex;
  background: #FDFFFC;
}

.recents {
  margin-left: 4em;
}

.game {
  width: 60px;
  cursor: pointer;
  margin-right: 1em;
}

#top-Bar {
  width: 100%;
  height: 20px;
  background: black;
  display: flex;
  justify-content: flex-end;
}

#innerBody {
  width: 100%;
  height: 96%;
}

#kryss {
  height: 100%;
  width: 40px;
  background-color: red;
  cursor: pointer;
}

#minimize {
  height: 100%;
  width: 25px;
  background-color: yellow;
  cursor: pointer;
}