@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

.drag {
  border: 5px solid #00A7E1;
  border-radius: 5%;
  width: 323px;
  height: 450px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.drag:focus {
  border: 7px solid #00A7E1;
  border-radius: 5%;
  box-shadow: 0 0 3pt 2pt red;
  outline: none;  
}

.drag:focus-within {
  border: 7px solid #00A7E1;
  border-radius: 5%;
  box-shadow: 0 0 3pt 2pt red;
  outline: none;  
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.main {
  height: 96%;
  background-color: rgba(0, 0, 0, 0.932);
  overflow: hidden;
  position: relative;
}

.wrapper footer {
  border: 1px solid rgb(128, 0, 0);
  display: flex;
  background: #FDFFFC;
  padding-left: 1em;
}

.recents {
  margin-left: 4em;
  position: relative;
}

.hide {
  display: none;
}

.boxes {
  display: inline-block;
  margin-right: 1em;
}


.game {
  width: 55px;
  cursor: pointer;
  margin-right: 1em;
}

.game:hover{
  transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
 -ms-transform: scale(1.2, 1.2);
 -webkit-transform: scale(1.2, 1.2);
 -o-transform: scale(1.2, 1.2);
 }

#top-Bar {
  width: 100%;
  height: 20px;
  background: black;
  display: flex;
  justify-content: flex-end;
}

#innerBody {
  width: 100%;
  height: 96%;
}

#kryss {
  height: 100%;
  width: 30px;
  background-color: rgba(12, 10, 10, 0);
  border: 6px solid red;
  cursor: pointer;
}

.programsBody {
  overflow-y: hidden;
}

#programs {
  background-color: #FFFFF0;
  height: 140px;
  width: 105px;
  position: absolute;
  bottom: 65px;
  left: 331px;
  overflow-y: auto;
  border: 2px solid gray;
  border-radius: 10%;
}

#programs header {
  height: 15px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-end;
}

#programs .item {
  height: 30px;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid gray;
  font-size: 13px;
  padding: 0.4em 0.5em;
}

#minimize {
  height: 100%;
  width: 29px;
  background-color: black;
  border: 6px solid yellow;
  cursor: pointer;
}

#numbers {
  color: red;
  position: absolute;
  right: -7px;
  top: 0px;
  font-size: 18px;
  font-weight: 900;
}

